<nav class="navbar navbar-default navbar-inverse">
  <div class="navbar-header">
    <%= link_to "WEB17-01",root_path, class: "navbar-brand", id: "logo"  %>
  </div>
</nav>
<h3>Quotations</h3>
<%=@show%>
<%= link_to "Search", basics_findauthor_path %>

<ul>
  <% for quotation in @quotations %>
      <li>
        <%= quotation.author_name %>: <%= quotation.quote %>
        <%= link_to 'Kill', action: 'destroy' , id: quotation.id %>
      </li>
  <% end %>
</ul>

<br/>

<% if params[:sort_by] == "date" %>
    <%= link_to "Sort by category", :action => :quotations, :sort_by => :category %> <br>
<% else %>
    <%= link_to "Sort by date", :action => :quotations, :sort_by => :date %> <br>
<% end %>
<%= link_to 'Erase My Personalization', action: :quotations ,:erase => "yes"%><br>
<br/>
<hr/>
<%= link_to "Export to XML",  :action => :quotations , :format => "xml"%><br>
<%= link_to "Export to JSON", :action => :quotations , :format => "json"%><br>
<%= link_to "Import the quotations", :action => :import %><br>
<a href="https://goo.gl/AvsmWV"> Sql Script File Here. </a><br>
<a href="https://goo.gl/LKoupK">Link to the Document</a>

<hr/>

<%= render 'form', quotation: @quotation %>

<hr/>
