<p id="notice"><%= notice %></p>
<% if user_signed_in? and current_user.admin? %>
    <ul class="nav navbar-nav navbar-right" >
      <%= link_to '<button type="button">Add</button>'.html_safe,new_problem_path%>
    </ul>
<%end%>

<h1>Problems</h1>
<div class="container">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Input</th>
      <th>Output</th>
      <th>Tc1</th>
      <th>Tc2</th>
      <th>Tc3</th>
      <th>Status</th>
      <th>Author</th>
      <!--<th>Category</th>-->
      <% if user_signed_in? and current_user.admin? %>
      <th colspan="3"></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.title %></td>
        <td><%= problem.description %></td>
        <td><%= problem.input %></td>
        <td><%= problem.output %></td>
        <td><%= problem.TC1 %></td>
        <td><%= problem.TC2 %></td>
        <td><%= problem.TC3 %></td>
        <td><%= problem.status %></td>
        <td><%= problem.author %></td>
        <!--<td><%= problem.category_id %></td>-->
        <% if user_signed_in? and current_user.admin? %>
        <td><%= link_to 'Show', problem %></td>
        <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
        <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<!--<%= link_to 'New Problem', new_problem_path %>-->
