<p id="notice"><%= notice %></p>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
</head>

<div class="panel panel-info">
  <div class="panel-heading ">
    <h4>Show Problem</h4>
  </div>
  <div class="panel-body">
<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.description %>
</p>

<p>
  <strong>Input:</strong>
  <%= @problem.input %>
</p>

<p>
  <strong>Output:</strong>
  <%= @problem.output %>
</p>
    <% if current_user.id == @problem.user_id || current_user.admin? %>
    <p>
      <strong>Tc1:</strong>
      <%= @problem.TC1 %>
    </p>

    <p>
      <strong>Tc2:</strong>
      <%= @problem.TC2 %>
    </p>

    <p>
      <strong>Tc3:</strong>
      <%= @problem.TC3 %>
    </p>
    <%end%>
<p>
  <strong>Status:</strong>
  <%= @problem.status %>
</p>

<p>
  <strong>Author:</strong>
  <%= @problem.author %>
</p>
    <% if user_signed_in? and current_user.admin? %>
    <p>
      <strong>Category:</strong>
      <%= @problem.category_id %>
    </p>
    <%end%>
<%= link_to 'Back', problems_path ,class: "btn btn-default btn-small"%>

  </div>
</div>

<%= render 'comments/show'%>










