<!DOCTYPE html>
<html>
<title>Problem Set-1</title>

  <nav class="navbar navbar-default navbar-inverse">
    <div class="navbar-header">
       <%= link_to "NewYorkTimes",sites_index_path, class: "navbar-brand", id: "logo"  %>
       <%= link_to "Home",root_path,class:"navbar-brand"%>
       <%= link_to "Division",divisions_show_path , class: "navbar-brand"%>
    </div>
  </nav>

</head>

<body>
<div class="container">
<% @site_data.each do |news| %>
    <div class="card text-center text-justify text-capitalize ">
      <div class="col-xs-8 col-xs-offset-2">
        <div class = "well well-lg">
          <h4 class="card-title"><%= news.text.strip %></h4>
            <div class = "card-block">
              <% @link_to_story = news['href'] %>
              <a href="<%= @link_to_story %>" class="btn btn-danger btn-xlarge">Read This</a>
            </div>
        </div>
      </div>
    </div>
<%end%>

</div>
<%= render 'sites/footer' %>
</body>
</html>