<html>
<head>

  <title>Problem Set-1</title>

  <nav class="navbar navbar-default navbar-inverse">
    <div class="navbar-header">
      <%= link_to "Division",divisions_show_path , class: "navbar-brand"%>
      <%= link_to "Home",root_path,class:"navbar-brand"%>
      <%= link_to "NewYorkTimes",sites_index_path, class: "navbar-brand", id: "logo"  %>
    </div>
  </nav>

  </head>
<body>

<%= @zero %>

</body>
<%= render 'sites/footer' %>
</html>