<%= render 'comments/form'%>

<h3>Total Comments: <%= pluralize(@comments.count, "Comments")%></h3>
<% @comments.each do |comment| %>
    <div class="media">
      <div class = "media-body">
      <h4 class="media-heading">
        <ul>
          <li><%= comment.comment %> <b>:by <%= comment.user.username%></b>
            <%if current_user == comment.user || current_user.admin?%>
                <%= link_to 'Edit', edit_problem_comment_path(comment.problem ,comment) %>
                <%= link_to 'Delete', [comment.problem ,comment], method: :delete, data: { confirm: 'Are you sure?' } %>
            <%end%>
          </li>
        </ul>
      </h4>
    </div>
    </div>
<% end %>

