<h3>Quotations</h3>
<ul>
  <% for quotation in @quotations %>
      <li><%= h quotation.author_name %>: <%= h quotation.quote %></li>
  <% end %>
</ul>
<br/>
<% if params[:sort_by] == "date" %>
    <%= link_to "Sort by category", :action => :quotations, :sort_by => :category %>
<% else %>
    <%= link_to "Sort by date", :action => :quotations, :sort_by => :date %>
<% end %>

<%= render 'form', quotation: @quotation %>

<hr/>
