<h3>Quotations</h3>
<%=@show%>
<%= link_to "Search", basics_findauthor_path %>

<ul>
  <%= link_to 'Erase My Personalization', action: :quotations ,:erase => "yes"%>
  <% for quotation in @quotations %>
      <li>
        <%= quotation.author_name %>: <%= quotation.quote %>
        <%= link_to 'Kill', action: 'destroy' , id: quotation.id %>
      </li>
  <% end %>
</ul>

<br/>

<% if params[:sort_by] == "date" %>
    <%= link_to "Sort by category", :action => :quotations, :sort_by => :category %>
<% else %>
    <%= link_to "Sort by date", :action => :quotations, :sort_by => :date %>
<% end %>

<br/>
<hr/>
<%= link_to "Export to XML",  :action => :quotations , :format => "xml"%>
<%= link_to "Export to JSON", :action => :quotations , :format => "json"%>
<%= link_to "Import the quotations", :action => :import %>
<hr/>

<%= render 'form', quotation: @quotation %>

<hr/>
