<div class="container">
<h1>Problem Sets</h1>
<ul class="list-group">
  <li class="list-group-item"><%= link_to 'Problem Set 1', :controller => :home, :action => :index %></li>
  <li class="list-group-item"><%= link_to 'Problem Set 2', :controller => :basics, :action => :quotations %></li>
  <li class="list-group-item"><%= link_to 'Problem Set 3', :controller => :users, :action => :index %></li>
  <li class="list-group-item"><%= link_to 'Problem Set 4', :controller => :ps4, :action => :index %></li>
  <li class="list-group-item"><%= link_to 'Problem Set 5', :controller => :ps5, :action => :index %></li>
  <li class="list-group-item"><%= link_to 'Problem Set 6', :controller => :ps6, :action => :index %></li>
</ul>
</div>